* {
  padding-left: 0px;
  margin: 0px;
  border: 0px;



}

/* Global custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
  /* dark background or transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #7e809e;
  /* scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b8dba;
}

/* Firefox support */
body {
  scrollbar-width: thin;
  scrollbar-color: #989ac4 #0d1117;
}

/* #app {
  height: 100vh;
  overflow-y: hidden;
} */