body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

code {
  font-family: 'Space Grotesk', 'Manrope', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Courier New', monospace;
}